table {
    font-family: Verdana, Geneva, sans-serif;
    margin: 10% auto 0 auto;
    table-layout: fixed;
    border-collapse: collapse;
    border: none;
}
ul {
    list-style: none;
    padding: 0;
}
ul li {
    margin-bottom: 5px;
    cursor: pointer;
}
ul li:nth-child(even) {
    background-color: #DDD5D3;
}
ul li:nth-child(odd) {
    background-color: #F5EDEB;
}
.float_list {
    display: none;
    border: 1px solid black;
    width: 50px;
    height: 50px;
    position: absolute;
    background: #fff;
    z-index: 1;
    width: auto;
    height: auto;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 4px;
    border-color: #B6B2B1;
}
.float_list > span {
    display: block;
    position: relative;
    float: left;
}
tr {
    height: 50px;
    max-height: 50px;
    background-color: #f6f6f6;
}
tr:nth-child(odd) {
  background-color: #e9e9e9;
}
tbody > tr:first-child {
    display: none;
}
td,
th {
    position: relative;
    min-width: 50px;
    padding-left: 20px;
    padding-right: 20px;
}
th {
    background-color: #2980b9;
    color: #fff;
}
th:last-child {
    background-color: #fff;
    padding: 0;
    text-align: left;
}
td:first-child {
    text-align: center;
}
td:last-child {
    padding: 0;
    background-color: #fff;
}
td > .table_product__editable_box {
    display: flex;
    align-items: center;
    word-break: break-word;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 12px;
    line-height: 14px;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 10px;
}
.padding_none {
    padding: 0!important;
}
.table_product__manipulate_row > div {
    width: 30px;
    height: 10px;
    margin: 4px;
    border: none;
    cursor: pointer;
    display: none;
}
.table_product__manipulate_row__add {
    color: green;
    font-size: 30px;
    display: block!important;
    width: auto!important;
    height: auto!important;
}
.table_product__manipulate_row__add:after {
    content: "+";
}
.table_product__manipulate_row__remove {
    color: red;
    font-size: 30px;
    font-weight: bold;
    width: auto!important;
    height: auto!important;
}
.table_product__manipulate_row__remove:after {
    content: "–";
}